.certification {
  margin-bottom: 60px;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    @include breakpoint($ipad){
      flex-direction: column;
    }
    img {
      @include breakpoint($ipad){
        padding: 20px;
        box-shadow: unset;
        width: 100%;
        flex: 0 1 100%;
      }
      box-shadow: 0 2px 5px rgba(0,0,0,.25);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      height: 300px;
      flex: 1 1 auto;
    }
    .description {
      padding: 30px;
      font-size: 1.5rem;
      line-height: 2;
      text-align: center;
      flex: 1 1 50%;
    }
  }
}